body{
background-color:green;

}

div {
background-color: rgb(8, 235, 27)  ;
  text-align: center; 
  padding: 5%;
  margin: 20%;
  border: 5px;
  border-radius: 5%;
  
}

#resultado {
padding: 10px   ;
background-color: white;

}